@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

*, ::after, ::before{
    box-sizing: border-box;
}
html, body, header, section, div{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    nav{
        display: flex;
        width: 100%;
        .logo-wrapper{
            flex: 1 1 50%;
        }
        .logo{
            
        }
        .menu{
            flex: 1 1 50%;
           > ul{
                display: block !important   ;
                list-style: none !important;
                margin: 0 !important;
                li{
                    display: inline-block;
                }
            }
        }
    }
}