@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
.card {
  border-radius: 1.825em !important;
}

@-webkit-keyframes leftTo {
  0% {
    width: 0%;
    left: 0%;
    opacity: 20%;
  }
  15% {
    width: 10%;
    left: 15%;
    opacity: 50%;
  }
  25% {
    width: 30%;
    left: 35%;
    opacity: 100%;
  }
  50% {
    width: 50%;
    left: 50%;
    opacity: 50%;
  }
  75% {
    width: 70%;
    left: 75%;
    opacity: 20%;
  }
  85% {
    width: 90%;
    left: 85%;
    opacity: 50%;
  }
  100% {
    width: 100%;
    left: 100%;
    opacity: 100%;
  }
}

@keyframes leftTo {
  0% {
    width: 0%;
    left: 0%;
    opacity: 20%;
  }
  15% {
    width: 10%;
    left: 15%;
    opacity: 50%;
  }
  25% {
    width: 30%;
    left: 35%;
    opacity: 100%;
  }
  50% {
    width: 50%;
    left: 50%;
    opacity: 50%;
  }
  75% {
    width: 70%;
    left: 75%;
    opacity: 20%;
  }
  85% {
    width: 90%;
    left: 85%;
    opacity: 50%;
  }
  100% {
    width: 100%;
    left: 100%;
    opacity: 100%;
  }
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
header,
section,
div {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 16px;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 900 !important;
}

h1 small,
h2 small {
  font-size: 60%;
  font-weight: 400 !important;
}

header {
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 0 20px #00000020;
          box-shadow: 0 0 20px #00000020;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header nav .nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .logo-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 1.5em 0;
}

header nav .logo {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-weight: 700;
  line-height: 1;
  color: #444;
}

header nav .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu > ul {
  display: block !important;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  float: right;
}

header nav .menu > ul li {
  display: inline-block;
  padding: 1em 0;
}

header nav .menu > ul li a {
  color: #444;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 1em 0.5em;
  line-height: 1;
  letter-spacing: 1px;
}

header nav .menu > ul li a:hover, header nav .menu > ul li a.active {
  color: #707070;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.profile-wrapper .profile-container {
  margin-top: 3em;
  padding: 0;
  border-radius: 2em;
  -webkit-box-shadow: 0px 25px 30px #00000033;
          box-shadow: 0px 25px 30px #00000033;
}

.profile-wrapper .profile-container .profile-pic-container {
  border: 3px solid #03030331;
  border-radius: 1.825em;
  overflow: hidden;
}

.project-wrapper .project-container {
  margin-top: 3em;
  padding: 1.5em 1em;
  background-color: #fcfcfc;
  border-radius: 1.825em;
  border: 3px solid #03030331;
  -webkit-box-shadow: 0 25px 30px #00000020;
          box-shadow: 0 25px 30px #00000020;
}

.project-wrapper h1 > small {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.project-wrapper h1 > small::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background: purple;
  width: 100%;
  -webkit-animation: leftTo 1000ms ease 50ms infinite;
          animation: leftTo 1000ms ease 50ms infinite;
}

.main-timeline {
  position: relative;
}

.main-timeline:before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: #c6c6c6;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.main-timeline .timeline {
  margin-bottom: 40px;
  position: relative;
}

.main-timeline .timeline:after {
  content: "";
  display: block;
  clear: both;
}

.main-timeline .timeline:hover .icon:before {
  left: 3px;
}

.main-timeline .timeline:hover .icon:after {
  left: -3px;
}

.main-timeline .timeline .date-outer:before {
  left: 6px;
}

.main-timeline .timeline .date-outer:after {
  left: -6px;
}

.main-timeline .timeline-content {
  width: 50%;
  padding: 20px 0 20px 50px;
  float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content {
  float: right;
}

.main-timeline .timeline:nth-child(2n) .date-content::before {
  left: 10px;
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
  padding: 20px 50px 20px 0;
  text-align: right;
}

.main-timeline .icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.main-timeline .icon:before, .main-timeline .icon:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.33s ease-out 0s;
  transition: all 0.33s ease-out 0s;
}

.main-timeline .icon:before {
  background: #fff;
  border: 2px solid #232323;
  left: -3px;
}

.main-timeline .icon:after {
  border: 2px solid #c6c6c6;
  left: 3px;
}

.main-timeline .date-content {
  width: 50%;
  float: left;
  margin-top: 22px;
  position: relative;
}

.main-timeline .date-content::before {
  content: "";
  width: 36.5%;
  height: 2px;
  background: #c6c6c6;
  margin: auto 0;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
}

.main-timeline .date-outer {
  width: 125px;
  height: 125px;
  font-size: 16px;
  text-align: center;
  margin: auto;
  z-index: 1;
}

.main-timeline .date-outer:before, .main-timeline .date-outer:after {
  content: "";
  width: 125px;
  height: 125px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.33s ease-out 0;
  transition: all 0.33s ease-out 0;
}

.main-timeline .date-outer::before {
  background-color: #fff;
  border: 2px solid #232323;
  left: -6px;
}

.main-timeline .date-outer:after {
  border: 2px solid #c6c6c6;
  left: 6px;
}

.main-timeline .date {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 27%;
  left: 0;
}

.main-timeline .month {
  font-size: 18px;
  font-weight: 700;
}

.main-timeline .year {
  display: block;
  font-size: 30px;
  font-weight: 700;
  color: #232323;
  line-height: 36px;
}

.main-timeline .title {
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 15px 0;
}

.main-timeline .description {
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  .main-timeline .date-content {
    margin-top: 35px;
  }
  .main-timeline .date-content:before {
    width: 22.5%;
  }
  .main-timeline .timeline-content {
    padding: 10px 0 10px 30px;
  }
  .main-timeline .title {
    font-size: 17px;
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 10px 30px 10px 0;
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline:before {
    margin: 0;
    left: 7px;
  }
  .main-timeline .timeline {
    margin-bottom: 20px;
  }
  .main-timeline .timeline:last-child {
    margin-bottom: 0;
  }
  .main-timeline .icon {
    margin: auto 0;
  }
  .main-timeline .date-content {
    width: 95%;
    float: right;
    margin-top: 0;
  }
  .main-timeline .date-content:before {
    display: none;
  }
  .main-timeline .date-outer {
    width: 110px;
    height: 110px;
  }
  .main-timeline .date-outer:before, .main-timeline .date-outer:after {
    width: 110px;
    height: 110px;
  }
  .main-timeline .date {
    top: 30%;
  }
  .main-timeline .year {
    font-size: 24px;
  }
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(2n) .timeline-content {
    width: 95%;
    text-align: center;
    padding: 10px 0;
  }
  .main-timeline .title {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=style.css.map */